.hero {
  padding-top: 45px;
}

.brand {
  color: var(--primary);
  font-size: 38px;
}

.brand > span {
  color: var(--title);
}

.slug {
  color: var(--subtitle);
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
  will-change: transform, opacity;
}

.slug > span {
  color: var(--primary);
  font-size: 24px;
  font-weight: 500;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 40px;
  }

  .brand {
    font-size: 48px;
    margin-left: 10px;
  }

  .slug {
    font-size: 24px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .slug > span {
    font-size: 26px;
    margin: 0 10px;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 60px;
  }

  .brand {
    font-size: 64px;
    margin-left: 0;
  }

  .slug {
    margin-left: 0;
  }
}
