.translate {
  display: flex;
  padding: 5px;
  position: absolute;
  right: 0;
}

.translate__flag {
  border: 1px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  cursor: pointer;
  width: 32px;
}

.translate__flag:active {
  border: 1px solid var(--primary);
}

.is--hidden {
  display: none;
}

/* hiden translate box */
#translate__box {
  display: none;
}

.goog-te-banner-frame {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

@media (min-width: 768px) {
  .translate {
    padding: 10px;
    right: 15px;
  }
}

@media (min-width: 1200px) {
  .translate {
    right: 35px;
  }
}
